*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.navbar, .navbar-resp{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-resp{
    display: none;
}

.ndiv{
    background-color: green;
    height: 70px;
}

.logo{
    position: relative;
    height: 80%;
    top: 10%;
    left: 1%;
}

.nl{
    display: inline-flex;
    position: relative;
    float: right;
    list-style: none;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.dropd{
    display: none;
    padding: 0;
    list-style: none;
    background-color: green;
}

.db:hover .dropd{
    display: block;
    position: absolute;
    right: -12px;
    margin-top: 10px;
}

.lin{
    color: white;
    padding: 10px;
    position: relative;
}

.lin:hover{
    color: black;
}

.aft{
    background-color: orange;
    border-radius: 5px;
}

/* hero */

.hero{
    position: absolute;
    top: 0;
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    text-align: center;
    color: white;
    width: 100%;
    font-family: Poppins;
}

.hero span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 54, 54, 0.342);
}


.hero div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.hero hr{
    width: 20%;
    position: absolute;
    left: 40%;
}

.head{
    margin-top: 150px;
}

.hb{
    height: 40px;
    width: 99px;
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* our location */

.ourloc{
    position: relative;
    margin-top: 350px;
    text-align: center;
}

.ourloc div iframe{
    width: 60%;
    height: 400px;
    border-radius: 20px;
}

/* form */
.ff{
    width: 100%;
    margin-top: 20px;
}

form{
    position: relative;
    width: 60%;
    right: 20%;
    left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

form p label{
    position: relative;
    left: 10%;
}

form p input{
    position: relative;
    width: 80%;
    right: 10%;
    left: 10%;
    height: 40px;
    border-radius: 4px;
}

form .sub input{
    position: relative;
    right: 30%;
    left: 30%;
    width: 40%;
    text-align: center;
}

form p textarea{
    position: relative;
    right: 10%;
    left: 10%;
    width: 80%;
    border-radius: 7px;
}

.sub input{
    position: relative;
    background-color: rgba(255, 166, 0, 0);
    color: orange;
    border: 2px solid orange;
    font-size: 15px;
}
.sub input:hover{
    border: 2px solid green;
    color: green;
}

/* footer */

.foot{
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    display: inline-flex;
    width: 84%;
    padding: 20px;
    background-color: rgb(94, 72, 26);
    color: white;
}
.foot div{
    width: 100%;
}

.fc1, .fc2{
    padding: 5px;
}

.fc2 div{
    display: inline-flex;
}

.fc2 ul a{
    color: white;
}

.fc2 ul{
    list-style: none;
    width: 100%;
}

/* copy */
.copy{
    text-align: center;
    position: relative;
    right: 8%;
    left: 8%;
    width: 84%;
    bottom: 0;
    background-color: rgb(94, 72, 26);
    color: white;
    font-size: 11px;
}

@media screen and (max-width: 700px){
    body{
        width: 100%;
    }
    
    /* navbar */
        .navbar{
            display: none;
        }

        .navbar-resp{
            display: block;
        }

        /* footer */
    .foot{
        display: block;
    }
}