*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
}

.navbar, .navbar-resp{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-resp{
    display: none;
}

.ndiv{
    background-color: green;
    height: 70px;
}

.logo{
    position: relative;
    height: 80%;
    top: 10%;
    left: 1%;
}

.nl{
    display: inline-flex;
    position: relative;
    float: right;
    list-style: none;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.dropd{
    display: none;
    padding: 0;
    list-style: none;
    background-color: green;
}

.db:hover .dropd{
    display: block;
    position: absolute;
    right: -12px;
    margin-top: 10px;
}

.lin{
    color: white;
    padding: 10px;
    position: relative;
}

.lin:hover{
    color: black;
}

.db{
    background-color: orange;
    border-radius: 5px;
}

/* hero */

.hero{
    position: absolute;
    top: 0;
    background: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    text-align: center;
    color: white;
    width: 100%;
    font-family: Poppins;
}

.hero span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 54, 54, 0.342);
}


.hero div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero hr{
    width: 20%;
    position: absolute;
    left: 40%;
}

.head{
    margin-top: 150px;
}

.hb{
    height: 40px;
    width: 99px;
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid orange;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* content */
.content{
    margin-top: 380px;
}

/* trending */


.trending{
    position: relative;
    padding: 20px;
    
}

.trend{
    display: inline-flex;
    margin-top: 20px;
}

.trend div{
    width: 100%;
    padding: 15px;
    border: 1px solid green;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.trend div img{
    position: relative;
    width: 100%;
    border-radius: 7px;
}

.trend div p{
    display: inline-flex;
}

.trend div button{
    position: relative;
    left: 30%;
    width: 40%;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
}

/* discounted */

.discounted{
    position: relative;
    padding: 20px;
}

/* categories */
.categories{
    padding: 20px;
}

.categories hr{
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    border: 1px solid green;
}

.categories h1, h2{
    text-align: center;
}

.categories h1{
    color: orange;
    font-size: 35px;
}

.mens{
    margin-top: 15px;
}

.mens div .sm{
    position: relative;
    top: 40%;
    right: 15%;
    left: 15%;
    width: 70%;
    border: 1px solid orange;
    background-color: rgba(255, 166, 0, 0);
    color: orange;
}

.test{
    position: relative;
    height: 200px;
    width: 80%;
    right: 3%;
}

/* mens */
#mn1{
    background: url(../img/ladyshoe2.jpg);
    background-size: cover;
    background-position: center;
}

#mn2{
    background: url(../img/mens.jpeg);
    background-size: cover;
    background-position: center;
}

#mn3{
    background: url(../img/mens.jpeg);
    background-size: cover;
    background-position: center;
}

/* ladies' */
#sh1{
    background: url(../img/heels1.jpg);
    background-size: cover;
    background-position: center;
}

#sh2{
    background: url(../img/ladyshoe1.jpg);
    background-size: cover;
    background-position: center;
}

#sh3{
    background: url(../img/heel2.jpg);
    background-size: cover;
    background-position: center;
}

/* sneakers */
#sn1{
    background: url(../img/sneakers1.jpg);
    background-size: cover;
    background-position: center;
}

#sn2{
    background: url(../img/sneakers2.jpg);
    background-size: cover;
    background-position: center;
}

#sn3{
    background: url(../img/sneakers3.jpg);
    background-size: cover;
    background-position: center;
}

/* kiddies */
#kd1{
    background: url(../img/sneakers4.jpg);
    background-size: cover;
    background-position: center;
}

#kd2{
    background: url(../img/sneakers5.jpg);
    background-size: cover;
    background-position: center;
}

#kd3{
    background: url(../img/sneakers6.jpg);
    background-size: cover;
    background-position: center;
}

/* footer */

.foot{
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 8%;
    display: inline-flex;
    width: 84%;
    padding: 20px;
    background-color: rgb(94, 72, 26);
    color: white;
}
.foot div{
    width: 100%;
}

.fc1, .fc2, .fc3{
    padding: 5px;
}

.fc2 div{
    display: inline-flex;
}

.fc3{
    width: 100%;
}

.fc3 iframe{
    position: relative;
    width: 100%;
}

/* copy */
.copy{
    text-align: center;
    position: relative;
    right: 8%;
    left: 8%;
    width: 84%;
    bottom: 0;
    background-color: rgb(94, 72, 26);
    color: white;
    font-size: 12px;
}

/* purchase */
.purchchase{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: aqua;
}

.purchchase span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 99;
}

.now{
    display: none;
    color: white;
    background-color: rgba(255, 166, 0, 0.877);
    border: 1px solid green;
    position: relative;
    width: 40%;
    right: 30%;
    left: 30%;
    height: 90%;
    top: 10%;
    bottom: 10%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    z-index: 99;
}

.now form select{
    height: 30px;
    border-radius: 6px;
}

.now form div textarea{
    position: relative;
    height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.now form input{
    position: relative;
    width: 60%;
    left: 20%;
    right: 20%;
    height: 30px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 700px){
    body{
        width: 100%;
    }
    
    /* navbar */
        .navbar{
            display: none;
        }

        .navbar-resp{
            display: block;
            position: sticky;
            top: 0;
            width: 100%;
        }

    /* trending */
    .trend{
        display: block;
    }

    .trend div{
        margin-top: 10px;
    }


    /* footer */
    .foot{
        display: block;
    }

    /* purchase */
    .now{
        padding-bottom: 10px;
        position: relative;
        margin-top: 10px;
        width: 80%;
        left: 10%;
        right: 10%;
    }
}